.index-page {
  padding-bottom: 120px;
  // 滚动区域
  .scroll-view {
    white-space: nowrap;
    box-sizing: border-box;
    .item {
      margin-left: 20px;
      &.last {
        margin-right: 20px;
      }
    }
  }
  // tab 栏
  .tab-bar {
    padding: 0;
  }
}
